#dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    
    .intro{
        text-align: center;
        align-self: center;
        color: white;
    }

    #globe-holder{  
        width: 100%;
        position: fixed;
        align-content: center;
        justify-content: center;
        height: 130vh;
        display: flex;
        align-self: center;
    }

    #right-panel{
        align-self: right;
        float: right;
        margin: 0;
        position: relative;
        z-index: 100;
        width: 35%;
        top: 50px;
        padding: 10px;
        min-height: 95vh;
        background: #CFD8DC;
        color: #1A237E;
        border: 0px solid #000000;
        -webkit-transition: width 3s;
        -moz-transition: width 3s;
        transition: width 3s;
        -webkit-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
        box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
    }

    #left-panel{
        z-index: 100;
        width: 25%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        align-self: left;
        position: relative;
        min-height: 95vh;
        background: rgba(6, 13, 79, 0.78);
        border: 0px solid #000000;
        top: 50px;
        -webkit-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
        box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);

        a{
            align-self: center;
            margin-bottom: 2px;
            width: 90%;
        }
    }
   

}