#new-field{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    #input-ww{
        width: 60%;
    }

    #inputs{
        width: 40%;
        padding: 20px;
    }
    
}