#new-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 40px !important;
    font-family: 'PT Sans', sans-serif;
    
    #input-ww{
        width: 100%;
        position: relative;
        align-content: center;
        justify-content: center;
        height: 100%;
        display: flex;
        align-self: center;
    }

    #inputs{
       display: flex;
       flex-direction: column;
        align-self: left;
        float: left;
        margin-right: 10px;
        z-index: 100;
        width: 35%;
        min-height: 90%;
        padding: 20px;
        background: rgba(6, 13, 79, 0.78);
        position: absolute;
        left: 0px;
        margin-bottom: 5px;
    }
    input {
    width: 55%;
    padding: 5px 5px;
    margin-left:10px;
    box-sizing: border-box;
    text-align: left;

    
}
   p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.0px;
   }
   
  #ui-selectbutton {
    flex: 1;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
  } 

}
.text {
display: flex;
flex-direction: row;
flex: 1;
}

.input-class{
   flex: 1; 
}

.calendar-text {
display: flex;
flex-direction: row;
flex: 1;
}

.form-container{
    display: flex;
flex-direction: row;
}

.inputfield{
display: flex;
flex-direction: row;
padding-bottom: 20px;
}

.form-title{
padding-bottom: 15px;
}
.soil-button{
margin-left: 10px;

}

#dashboard-button{
margin-bottom: 5px;
margin-top: 10px;
margin-left: 5px;
width: 40% !important;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

#buttonjoy{
    margin-bottom: 1px;
    width: 40% !important;
    margin-left: 3px;
    }


