#weatherWidget {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #304FFE;
    background: #CFD8DC;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    -webkit-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 11px 5px -6px rgba(0,0,0,0.75);
    
        #holder{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            #sub-holder{
                display: flex;
                flex-direction: column;
                background: #9FA8DA;
                color: white;
                padding: 5px;
                width: 80%;
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                
                h2{
                    margin: 2px;
                }

                .content{
                    color: #1A237E;
                    font-weight: bolder;
                }

                #temperature {
                margin-bottom: 2px;
                margin-top: 5px;
                }
                #humidity {
                margin-bottom: 2px;
                }

                #windSpeed {
                margin-bottom: 2px;
                }
                #summaryWeather{
                margin-bottom: 5px;
                color: #1A237E;
                }
            }
            #icon {
                align-self: center;
                img{
                height: 100px;
            }
        }  
    }
}

#weather-loader{
    position: relative;
    height: 80%;
    width: 100%;

    span{
        color: white;
        padding: 10px;
    }
}
