.App {
  text-align: center;
}

#loading{
    position: fixed;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    span{
      color: white;
      font-size: 20px;
      padding: 10px;
    }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 100% !important;

}

.navbar-default{
  background: #01233d !important;
  border: none !important;
}

.navbar-default .navbar-brand{
  color: #eee !important;
}

.navbar-header{
  margin-left: 10px !important;
}

#nasa-logo{
  width: 50px;
  float: left;
  padding-top: 5px;
}